@charset "UTF-8";
/* =================================================
title       : KOFONS Reset / Root
Create date : 2026-04
================================================= */
@import url(../font/RemixIcon_Fonts_v4.9.1/remixicon.css);
@import url(../font/webfonts_pretendardgov.css);

/* =========================================
  1. Reset
========================================= */
* { margin:0; padding:0; box-sizing: border-box;}
*::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
ul, ol, dl { margin:0; padding:0; }
li, dt, dd { list-style: none; }
html {
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}
fieldset {border:0;}
body {
  margin: 0;
  font-family: var(--text-font-family);
  font-size: var(--text-sm);
  line-height: var(--text-line-height-base);
  color: var(--color-text-black);
}
img { max-width: 100%; height: auto; }
button {
  border:0;
  font-family: inherit;
  background:none;
  cursor:pointer;
}
button:disabled:hover,
button:disabled {
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
caption, legend, .sr-only, .hidden, .IR {
  overflow: hidden;
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0 0 0 0);
  white-space:nowrap;
  border:0;
}


/* =========================================
  2. Root (Tokens)
========================================= */
:root {
  /* font family */
  --text-font-family: "PretendardGOV", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;

  /* font weight */
  --text-font-weight-regular: 400;
  --text-font-weight-bold: 700;

  /* line height */
  --text-line-height-base: 1.5;

  /* letter spacing */
  --text-letter-spacing-wide: 1px;
  --text-letter-spacing-base: 0;

  /* Display : 배너와 같은 마케팅 용도 */
  --text-display-lg: 66px;
  --text-display-md: 50px;
  --text-display-sm: 40px;

  /* Heading : 타이틀과 모듈 단위 h1~h5 */
  --text-heading-xl: 40px;
  --text-heading-lg: 32px;
  --text-heading-md: 24px;
  --text-heading-sm: 18px;
  --text-heading-sx: 14px;

  /* text : 컨텐츠 사용 텍스트 */
  --text-xxl: 32px;
  --text-xl: 26px;
  --text-lg: 22px;
  --text-md: 18px;
  --text-sm: 16px; /* base */
  --text-xs: 14px;

  /* icon : 아이콘 사용 사이즈 */
  --icon-size-xxl: 48px;
  --icon-size-xl: 32px;
  --icon-size-lg: 24px;
  --icon-size-md: 20px;
  --icon-size-sm: 16px; /* base */

  --color-text-black: #000;
}
@media (max-width: 768px) {
  :root {
    /* Display : 배너와 같은 마케팅 용도 */
    --text-display-lg: 40px;
    --text-display-md: 32px;
    --text-display-sm: 25px;

    /* Heading : 타이틀과 모듈 단위 h1~h5 */
    --text-heading-xl: 28px;
    --text-heading-lg: 24px;
    --text-heading-md: 22px;
    --text-heading-sm: 18px;
    --text-heading-sx: 14px;

    /* text : 컨텐츠 사용 텍스트 */
    --text-xxl: 26px;
    --text-xl: 24px;
    --text-lg: 22px;
    --text-md: 18px;
    --text-sm: 16px;
    --text-xs: 14px;

    /* icon : 아이콘 사용 사이즈 */
    --icon-size-xxl: 32px;
    --icon-size-xl: 26px;
    --icon-size-lg: 24px;
    --icon-size-md: 20px;
    --icon-size-sm: 16px;
  }
}


/* =========================================
  3. Base
========================================= */
/* position */
.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }

/* text align */
.text--left { text-align: left; }
.text--center { text-align: center; }
.text--right { text-align: right; }
.text--underline {
  text-decoration: underline;
  text-underline-offset: 0.15em;
}
.text--ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* display */
.d-block { display: block; }
.d-inline { display: inline-block; }
.d-flex { display: flex; }

/* margin / padding */
.m-10 { margin: 10px }
.mt-10 { margin-top: 10px; }
.ml-10 { margin-left: 10px; }
.mb-10 { margin-bottom: 10px; }
.mr-10 { margin-right: 10px; }

.p-20 { padding: 20px; }
.pt-20 { padding-top: 20px; }
.pl-20 { padding-left: 20px; }
.pb-20 { padding-bottom: 20px; }
.pr-20 { padding-right: 20px; }
