@charset "UTF-8";
/* =================================================
title       : KOFONS Reset / Root
Create date : 2026-04
================================================= */
@import url(../font/RemixIcon_Fonts_v4.9.1/remixicon.css);
@import url(../font/webfonts_pretendardgov.css);

/* ----------------------------------------------
** main
---------------------------------------------- */
.main-portal {position: relative; padding-bottom: 144px;}
.main-portal__inner {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 12px;
    /* padding: 0.0rem 12.5% 6.0rem 12.5%; */
    max-width: 1400px;
    margin: 0 auto;
}
.main-portal__site {
    width:100%;
    height: 320px;
    border-radius: 10px;
    background: rgb(255, 246, 248);
}


/* ----------------------------------------------
** footer
---------------------------------------------- */
.footer {padding: 30px 0;}
.footer__inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__info {
    margin-bottom: 10px;
}
.footer__brand {
    display: block;
    margin-bottom: 10px;
}
.footer__address {
    margin-bottom: 10px;
}
.footer__contact {
    margin-bottom: 10px;
}
.footer__contact-item {}
.footer__sns {
    display: flex;
    gap: 20px;
}
.footer__policy {
    margin-bottom: 10px;
}

.footer__family {
    margin-bottom: 10px;
}
.footer__family-button {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    background: #ddd;
}
.footer__family-button .icon {
    transition: all 0.3s;
}
.footer__family-button[aria-expanded="true"] .icon {
    transform: rotate(60deg);
    transition: all 0.3s;
}
.footer__family-box[hidden] {
  display: none;
}
.footer__family-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 100px 100px; */
    grid-auto-rows: 50%;
    column-gap: 20px;
    row-gap: 20px;
}
.footer__family-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__family-item:nth-child(1)  {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.footer__family-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.footer__family-info {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
}
.footer__bottom {
    padding: 20px 0;
}
.footer__copyright {}